.site-header {
  border-bottom: 1px solid $color-border;
  background-color: $background-color-white;

  .inner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include max-width-md() {
      grid-template-columns: 1fr;
    }

    .col-1,
    .col-2,
    .col-3 {
      display: flex;
      align-items: center;
    }

    .col-1 {
      @include max-width-md() {
        justify-content: center;
      }
    }

    .col-2 {
      justify-content: center;

      @include max-width-md() {
        margin-top: 2rem;
      }
    }

    .col-3 {
      justify-content: flex-end;

      @include max-width-md() {
        justify-content: center;
        margin-top: 2rem;
      }

      @include max-width-sm() {
        position: relative;
      }
    }
  }

  .logo {
    display: inline-block;

    img {
      display: block;
    }
  }

  .site-search {
    display: flex;
    width: 100%;

    input {
      flex-grow: 1;
      width: 200px;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
    }

    button {
      padding-right: 1rem;
      padding-left: 1rem;
      color: $color-white;
      background-color: $color-accent-primary;
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: none;
    }
  }

  .links {
    position: relative;
    display: flex;

    @include max-width-sm() {
      position: static;
    }

    a,
    button {
      display: flex;
      align-items: center;

      ion-icon {
        margin-right: 0.25rem;
      }
    }

    .cart {
      padding: 0;
      margin-left: 1.5rem;
      background-color: transparent;
      font-size: 1rem;
      border: none;
    }

    .mini-cart {
      position: absolute;
      top: 2rem;
      right: 0;
      width: 250px;
      padding: 1rem;
      background-color: $color-white;
      border: 1px solid $color-border;
      z-index: 5;

      @include max-width-sm() {
        top: 2rem;
        right: 0;
        left: 0;
        width: 100%;
      }

      .product {
        display: flex;
        margin-bottom: 1rem;

        .thumbnail {
          display: block;
        }

        .information {
          position: relative;
          flex-grow: 1;
          margin-left: 0.5rem;

          p {
            margin: 0;
          }

          .title {
            font-size: 0.875rem;
            font-weight: 600;
          }

          .remove {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            background-color: transparent;
            font-size: 1rem;
            border: none;
          }
        }
      }

      .total {
        span {
          font-weight: 600;
        }
      }
    }
  }
}
