.site-header {
  border-bottom: 1px solid $color-border;
  background-color: $background-color-white;

  .inner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .col-1,
    .col-2,
    .col-3 {
      display: flex;
      align-items: center;
    }

    .col-2 {
      justify-content: center;
    }

    .col-3 {
      justify-content: flex-end;
    }
  }

  .logo {
    display: inline-block;

    img {
      display: block;
    }
  }

  .site-search {
    display: flex;
    width: 100%;

    input {
      flex-grow: 1;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
    }

    button {
      padding-right: 1rem;
      padding-left: 1rem;
      color: $color-white;
      background-color: $color-accent-primary;
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: none;
    }
  }

  .links {
    display: flex;

    a {
      display: flex;
      align-items: center;

      ion-icon {
        margin-right: 0.25rem;
      }
    }

    .cart {
      margin-left: 1.5rem;
    }
  }
}
