.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;

  @include max-width-lg() {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include max-width-md() {
    grid-template-columns: 1fr 1fr;
  }

  @include max-width-sm() {
    grid-template-columns: 1fr;
  }

  .product {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .product-information {
    padding: 1.25rem;
    background-color: $background-color-white;
    border-top: 3px solid $color-accent-primary;

    .product-name {
      margin-bottom: 0.25rem;
      font-size: 1.25rem;
    }

    .artist {
      color: $color-text-secondary;
      font-size: 1rem;
      font-weight: 400;
    }

    .price {
      margin-bottom: 0.25rem;
      font-size: 1.125rem;
      font-weight: 700;
      color: $color-accent-primary;
    }

    .format {
      font-size: 0.875rem;
    }
  }
}
