.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.btn-outline-primary {
  color: $color-accent-primary;
  border: 2px solid $color-accent-primary;

  &:hover {
    color: $color-white;
    background-color: $color-accent-primary;
  }
}

.btn-secondary {
  color: $color-white;
  background-color: $color-accent-secondary;

  &:hover {
    color: $color-white;
    background-color: lighten($color-accent-secondary, 5%);
  }
}
