.content-block {
  padding: 3rem;
  background-color: $background-color-white;

  @include max-width-sm() {
    padding: 2rem;
  }
}

.contact-form {
  width: 50%;
  margin-top: 2rem;

  @include max-width-lg() {
    width: 100%;
  }

  .form-group-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;

    @include max-width-sm() {
      grid-template-columns: 1fr;
    }
  }

  input[type='email'] {
    margin-bottom: 2rem;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-family: $font-family-base;
    border: 1px solid $color-border;
  }

  .btn {
    margin-top: 1rem;
  }
}
